.topbar{
  display:grid;
  grid-template-columns:180px 1fr 260px;
  gap:16px;

  padding:14px 20px;
  background:#020617;
  border-bottom:1px solid rgba(255,255,255,.1);
}

.logo{
  height:65px;
}

.title{
  font-size:30px;
  font-weight:700;
}

#clock{
  font-size:24px;
  color:var(--muted);
}

main{
  display:grid;
  gap:12px;
  padding:6px;
  height:calc(100vh - 110px);
  overflow:auto;
}
