body.tv-mode {
  transform-origin: top left;
}

@media (min-width:1200px){
  body.tv-mode{
    transform:scale(1);
  }
}

/* escala automática futura */
@media (min-width:1800px){
  body.tv-mode{
    transform:scale(1.1);
  }
}
