:root{
  --bg:#071029;
  --card:#0b1a3a;
  --table:#0e224d;
  --table-alt:#0c1d40;
  --header:#2c4078;
  --border:#1e2f5c;

  --text:#fff;
  --muted:#9fb3ff;

  --green:#00ff9c;
  --yellow:#ffcc00;
  --red:#ff4d4d;

  --blue:#4da6ff;
  --purple:#d66bff;
}
